body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, input, textarea,th, td{margin: 0;padding: 0;}
ul, ol { list-style: none; cursor:default}
a,a:hover { text-decoration: none; }
fieldset, img,input,button { border: 0;outline:none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
body{font-weight: 400;font-size: 1em;font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;}